.header__top {
  padding: 10px 0;
  background: #3f015b;
  color: #fff;
}

.header__top__left {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.header__top__left span {
  font-size: 0.9rem;
}

.header__top__help {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.header__top__help i {
  background: #fff;
  color: #00396b;
  padding: 2px 4px;
  border-radius: 50px;
  font-size: 0.7rem;
}

.header__top__right a {
  text-decoration: none;
  color: #ec1010;
  font-size: 0.9rem;
}

.header__top__right a:hover {
  color: #d12424;
}

.main__navbar {
  padding: 15px 0;
  background: #3f015b;
}

.mobile__menu i {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile__menu {
  display: none; /* Hidden by default */
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}

.nav__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #f9a826;
  transition: width 0.3s ease;
}

.nav__item:hover::after {
  width: 100%;
}

.nav__active {
  color: #f9a826;
}

/* Responsive menu styles */
@media only screen and (max-width: 768px) {
  .header__top,
  .nav__right {
      display: none;
  }

  .mobile__menu {
      display: block; /* Show mobile menu icon */
  }

  .navigation {
      background: rgba(0, 13, 107, 0.9);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      display: none; /* Hidden by default */
      flex-direction: column; /* Stack items vertically */
      align-items: flex-start; /* Align items to the start */
      padding: 20px; /* Add padding */
  }

  .menu {
      width: 100%;
      background: #fff;
      display: flex;
      flex-direction: column; /* Stack links vertically */
      row-gap: 1.5rem; /* Space between links */
  }

  .menu a {
      color: #00396b;
      font-weight: 600;
      font-size: 1rem;
  }

  .mobile__menu__close {
      display: none; /* Hidden by default */
      color: #00396b;
      font-size: 1.5rem;
      cursor: pointer;
      align-self: flex-end; /* Align close button to the right */
      margin-bottom: 20px; /* Space below the close button */
  }

  .navigation.menu__active {
      display: flex; /* Show menu when active */
  }

  .mobile__menu__close {
      display: block; /* Show close button */
  }
}
