.contact-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contact-page img {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-bottom: -5px;
}

.contact-page p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
  height: 470px;
}

.contact-info {
  border: 2px solid blue;
  flex: 1;
  background-color: rgba(26, 136, 183, 0.168);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contact-form {
  border: 2px solid blue;
  flex: 1;
  background-color: rgba(26, 136, 183, 0.168);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contact-info h2,
.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 0px;
  color: #333;
}

.contact-info p {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 10px;
}

.contact-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.contact-form label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: none;
}

.submit-button {
  background-color: #7aade3;
  color: #000000;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0px;
}

.submit-button:hover {
  background-color: #ffffff;
}

.map-div {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.map-div img {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-bottom: -5px;
}

.map-container {
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(23, 37, 196, 0.73);
  transition: transform 0.3s ease;
}

.map-container:hover {
  transform: scale(1.05);
}

.map-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
